



#sidenav {
	width: 50%;
	height: 100%;
	font-size: 12px;
	float: left;
	background-color: white;
	text-align: right;
	color:black;
	font-weight: bold;

}


header {
	width: 50%;
	height: 100%;
padding: 30px;
	font-size: 23px;
	color: pink;
	text-align: left;
	margin-left: 60px;
	font-weight: normal;

}

	a{
		color:black;
	}

	a:hover, a:focus {
	text-decoration: none;
	color: pink;

	.navbar ul a, #sidenav ul a {
		text-decoration: none;
		font-weight: normal;
		color: grey;
}
